/* Everything but the jumbotron gets side spacing for mobile first views */
body {
	padding-top: 70px;
	font-size: 14px;
	background: #f2f5fa;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 0;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

.description {
	font-weight: bold;
}

input[type=text].ng-dirty.ng-invalid, input[type=email].ng-dirty.ng-invalid, input[type=tel].ng-dirty.ng-invalid {
	border: 1px solid Red;
	box-shadow: 0px 0px 7px red;
}

input[type=radio], input[type=checkbox] {
	display: none;
}


.error {
	color: Red;
}

.posts-title {
	font-size: 16px;
	font-weight: bold;
}

.custom-icon {
	padding: 7px;
}

.btn-success {
	background: #b4d77e;
	border-color: #a4cf61;
}

.btn-success:hover {
	background: #a4cf61;
	border-color: #97c74c;
}

.label {
	font-weight: normal;
}

.well {
	padding: 15px;
	background: #f8f8f8;
}

.jumbotron {
	background: none;
}

.type {
	font-size: 12px;
	margin-left: 10px;
}

.header, .marketing, .footer {
	padding-left: 15px;
	padding-right: 15px;
}

.normal-weight{
	font-weight: normal;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}