<h1>Add A Freelance Opportunity</h1>
<h2>Post Details</h2>
<label>Title</label>
<input type="text" placeholder="Basic brochure site - quick and simple!"/>

<label>Client</label>
<input type="text" placeholder="John Doe's Diner"/>

<label>Compensation</label>
<select>
	<option value="paid">Paid</option>
	<option value="unpaid">Unpaid</option>
	<option value="negotiable">Negotiable</option>
</select>

<label>Required Technologies</label>
<input type="text" placeholder="AngularJS, Firebase, Bootstrap"/>

<label>Description</label>
<textarea></textarea>

<h2>Your Contact Info</h2>

<label>Phone Number</label>
<input type="text" />

<label>Email</label>
<input type="text" />

<button>Post It</button>