<h1>{{pageHeading}}</h1>
<form name="postForm" novalidate>
	<div class="form-group">
		<label>Title</label>
		<input required ng-maxlength=40 type="text" name="title" ng-model="post.title" class="form-control" placeholder="Basic brochure site - quick and simple!"/>

		<div class="error" ng-show="postForm.title.$dirty && postForm.title.$invalid">
			<small class="error" ng-show="postForm.title.$error.required "> A title is required. </small>
			<small class="error" ng-show="postForm.title.$error.maxlength"> The title must be less than 40 characters. </small>
		</div>
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<textarea name="description" class="form-control" ng-model="post.description" placeholder="Include additional info such as frameworks, libraries, project details, etc."></textarea>
	</div>
	<label>Compensation</label>
	<div class="form-group row">
		<label class="normal-weight col-xs-4" id="paid">
			<input required type="radio" name="compensation" ng-model="post.compensation" ng-value="'paid'" />
			<img class="custom-icon" src="/images/icon/paid.png" />
			<br />
			Paid</label>
		<label class="normal-weight col-xs-4" id="unpaid">
			<input type="radio" name="compensation" ng-model="post.compensation" ng-value="'unpaid'"/>
			<img class="custom-icon" src="/images/icon/unpaid.png" />
			<br />
			Unpaid</label>

		<div class="error" ng-show="postForm.compensation.$invalid">
			<small class="error" ng-show="postForm.compensation.$error.required"> You must specifiy the compensation. </small>
		</div>
	</div>

	<label>Category</label>
	<div class="form-group row">
		<label class="normal-weight col-xs-4" id="freelance">
			<input required type="radio" name="postType" ng-model="post.postType" ng-value="'freelance'"/>
			<img class="custom-icon" src="/images/icon/freelance.png" />
			<br />
			Freelance</label>
		<label class="normal-weight col-xs-4" id="position">
			<input type="radio" name="postType" ng-model="post.postType" ng-value="'position'"/>
			<img class="custom-icon" src="/images/icon/position.png" />
			<br />
			Open Position</label>
		<div class="error" ng-show="postForm.postType.$invalid">
			<small class="error" ng-show="postForm.postType.$error.required"> You must specify a post category. </small>
		</div>
	</div>

	<label ng-show="post.postType == 'position'">Position Needed</label>
	<div class="form-group row" ng-show="post.postType == 'position'">
		<label class="normal-weight" id="design">
			<input ng-required="post.postType == 'position'" type="radio" name="positionNeeded" ng-model="post.positionNeeded" ng-value="'design'"/>
			<img class="custom-icon" src="/images/icon/design.png" />
			<br />
			Design</label>
		<label class="normal-weight" id="front-end">
			<input type="radio" name="positionNeeded" ng-model="post.positionNeeded" ng-value="'frontend'"/>
			<img class="custom-icon" src="/images/icon/frontend.png" />
			<br />
			Frontend Dev</label>
		<label class="normal-weight" id="back-end">
			<input type="radio" name="positionNeeded" ng-model="post.positionNeeded" ng-value="'backend'"/>
			<img class="custom-icon" src="/images/icon/backend.png" />
			<br />
			Backend Dev</label>
		<label class="normal-weight" id="database">
			<input type="radio" name="positionNeeded" ng-model="post.positionNeeded" ng-value="'database'"/>
			<img class="custom-icon" src="/images/icon/database.png" />
			<br />
			Database</label>

		<div class="error" ng-show="postForm.positionNeeded.$invalid">
			<small class="error" ng-show="postForm.positionNeeded.$error.required"> You must specify the position needed. </small>
		</div>
	</div>

	<div class="form-group" ng-show="post.postType == 'freelance'">
		<label>Client</label>
		<br />
		<input ng-required="post.postType == 'freelance'" ng-maxlength=40 type="text" class="form-control" name="client" ng-model="post.client" placeholder="Some Client Name"/>
		<div class="error" ng-show="postForm.client.$dirty && postForm.client.$invalid">
			<small class="error" ng-show="postForm.client.$error.required"> A client name is required. </small>
			<small class="error" ng-show="postForm.client.$error.maxlength"> The client name must be less than 40 characters. </small>
		</div>
	</div>

	<div class="form-group">
		<label ng-show="post.postType == 'freelance' || (post.postType=='position' && post.positionNeeded)">Required Technologies</label>

		<fieldset id="reqTech">
			<div ng-show="post.postType == 'freelance' || post.positionNeeded == 'design'">
				<label>Design</label>
				<div class="checkbox" >
					<label class="normal-weight" for="photoshop" name="photoshop">
						<input id="photoshop" type="checkbox" name="design" ng-model="post.reqTech.design.photoshop"  ng-true-value="photoshop">
						<img class="custom-icon" src="/images/design/photoshop.png" ng-class="{ checked : post.reqTech.design.photoshop"/>
						<br />
						Photoshop</label>
					<br />
				</div>
				<div class="checkbox">
					<label class="normal-weight" for="illustrator">
						<input id="illustrator" type="checkbox" name="design" ng-model="post.reqTech.design.illustrator" ng-true-value="illustrator">
						<img class="custom-icon" src="/images/design/illustrator.png" />
						<br />
						Illustrator</label>
				</div>
				<div class="checkbox">
					<label class="normal-weight" for="indesign">
						<input id="indesign" type="checkbox" name="design" ng-model="post.reqTech.design.indesign" ng-true-value="indesign">
						<img class="custom-icon" src="/images/design/indesign.png" />
						<br />
						InDesign</label>
				</div>
			</div>
			<div ng-show="post.postType == 'freelance' || post.positionNeeded == 'frontend'">
				<label>Frontend</label>
				<div class="checkbox">
					<label class="normal-weight" for="html">
						<input id="html" type="checkbox" name="frontend" ng-model="post.reqTech.frontend.html"  ng-true-value="html">
						<img class="custom-icon" src="/images/frontend/html.png" />
						<br />
						HTML5</label>
				</div>
				<div class="checkbox">
					<label class="normal-weight" for="css">
						<input id="css" type="checkbox" name="frontend" ng-model="post.reqTech.frontend.css" ng-true-value="css">
						<img class="custom-icon" src="/images/frontend/css.png" />
						<br />
						CSS3</label>
				</div>
				<div class="checkbox">
					<label class="normal-weight" for="javascript">
						<input id="javascript" type="checkbox" name="frontend" ng-model="post.reqTech.frontend.javascript" ng-true-value="javascript">
						<img class="custom-icon" src="/images/frontend/javascript.png" />
						<br />
						JavaScript</label>
				</div>
			</div>
			<div ng-show="post.postType == 'freelance' || post.positionNeeded == 'backend'">
				<label>Backend</label>
				<div class="checkbox">
					<label class="normal-weight" for="php">
						<input id="php" type="checkbox" name="backend" ng-model="post.reqTech.backend.php" ng-true-value="php">
						<img class="custom-icon" src="/images/backend/php.png" />
						<br />
						PHP</label>
				</div>
				<div class="checkbox">
					<label class="normal-weight" for="node">
						<input id="node" type="checkbox" name="backend" ng-model="post.reqTech.backend.node" ng-true-value="node" >
						<img class="custom-icon" src="/images/backend/node.png" />
						<br />
						Node.js</label>
				</div>
				<div class="checkbox">
					<label class="normal-weight" for="python">
						<input id="python" type="checkbox" name="backend" ng-model="post.reqTech.backend.python" ng-true-value="python">
						<img class="custom-icon" src="/images/backend/python.png" />
						<br />
						Python</label>
				</div>
				<div class="checkbox">
					<label class="normal-weight" for="ruby">
						<input id="ruby" type="checkbox" name="backend" ng-model="post.reqTech.backend.ruby" ng-true-value="ruby" >
						<img class="custom-icon" src="/images/backend/ruby.png" />
						<br />
						Ruby</label>
				</div>
				<div class="checkbox">
					<label class="normal-weight" for="javaSS">
						<input id="javaSS" type="checkbox" name="backend" ng-model="post.reqTech.backend.javaSS" ng-true-value="javaSS">
						<img class="custom-icon" src="/images/backend/javaSS.png" />
						<br />
						Java</label>
				</div>
			</div>

			<div ng-show="post.postType == 'freelance' || post.positionNeeded == 'database'">
				<label>Database</label>
				<div class="checkbox">
					<label class="normal-weight" for="mongo">
						<input id="mongo" type="checkbox" name="database" ng-model="post.reqTech.database.mongo" ng-true-value="mongo" >
						<img class="custom-icon" src="/images/database/mongo.png" />
						<br />
						MongoDB</label>
				</div>
				<div class="checkbox">
					<label class="normal-weight" for="mysql">
						<input id="mysql" type="checkbox" name="database" ng-model="post.reqTech.database.mysql" ng-true-value="mysql">
						<img class="custom-icon" src="/images/database/mysql.png" />
						<br />
						MySQL</label>
				</div>
			</div>

		</fieldset>

	</div>

	<!-- This should eventually redirect to the post details - need to find the priority that is returned -->
	<a >
	<button ng-disabled="postForm.$invalid" class="btn btn-block btn-success" type="submit" ng-click="submit()">
		{{buttonText}}
	</button> </a>

</form>