<h1>Add A Position For Hire</h1>
<h2>Post Details</h2>
<div class="form-group">
	<label>Title</label>
	<input type="text" class="form-control" placeholder="Basic brochure site - quick and simple!"/>
</div>

<div class="form-group">
	<label>Position Needed</label>
	<input type="text" class="form-control" placeholder="Designer, Front-end Dev, Database"/>
</div>

<div class="form-group">
	<label>Compensation</label>
	<br />
	<select>
		<option value="paid">Paid</option>
		<option value="unpaid">Unpaid</option>
		<option value="negotiable">Negotiable</option>
	</select>
</div>

<div class="form-group">
	<label>Required Technologies</label>
	<input type="text" class="form-control" placeholder="AngularJS, Firebase, Bootstrap"/>
</div>

<div class="form-group">
	<label>Description</label>
	<textarea class="form-control">Put any additional information here. This may, and probably should, include at least project details, more information on compensation, and additional contact info if available.</textarea>
</div>

<h2>Your Contact Info</h2>
<div class="form-group">
	<label>Phone Number</label>
	<input type="text" class="form-control"/>
</div>

<div class="form-group">
	<label>Email</label>
	<input type="text" class="form-control"/>
</div>
<button class="btn-success btn-block btn-sm">
	Post It
</button>
