<h1>My Dash</h1>
<h2>My Posts</h2>
<div class="row marketing">
	<div ng-repeat="($priority, post) in posts" ng-if="post.ownerId == loginObj.user.id">
		<a ng-href="#/post/{{$priority}}">
			<div class="well">
				<h2>{{post.title}}</h2>
				<img ng-src="images/icon/{{ post.postType }}.png" />
				<img ng-if="post.postType == 'position'" ng-src="images/icon/{{post.positionNeeded}}.png" />
				<img ng-if="post.postType == 'position'" ng-repeat="tech in post.reqTech[post.positionNeeded] | limitTo:2"  ng-src="images/{{post.positionNeeded}}/{{tech}}.png"/>
				<img ng-if="post.postType == 'freelance'" ng-repeat="tech in post.reqTech.design | limitTo:1"  ng-src="images/design/{{tech}}.png"/>
				<img ng-if="post.postType == 'freelance'" ng-repeat="tech in post.reqTech.frontend | limitTo:1"  ng-src="images/frontend/{{tech}}.png"/>
				<img ng-if="post.postType == 'freelance'" ng-repeat="tech in post.reqTech.backend | limitTo:1"  ng-src="images/backend/{{tech}}.png"/>
				<img ng-if="post.postType == 'freelance'" ng-repeat="tech in post.reqTech.database | limitTo:1"  ng-src="images/database/{{tech}}.png"/>
			</div>
		</a>
	</div>
</div>
<h2>My Requests</h2>

<!-- <div ng-repeat="request in requests" ng-if="postPriority == request.postPriority"> -->

<!-- This should link to the post it is attached to -->
<div class="row marketing">
	<div ng-repeat="request in requests" ng-if="request.ownerId == loginObj.user.id">
		<a ng-href="#/post/{{request.postPriority}}">
		<div class="well">
			<img class="glyphicon img-circle" ng-src="{{request.gravatar}}" />
			<span>{{request.ownerName}}</span>
			<span>{{request.phoneNum}}</span>
			<span>{{request.email}}</span>
		</div></a>
	</div>
</div>