<h1>My Dash</h1>
<h2>My Posts</h2>
<div class="row marketing">
	<div class="well">
		<span class="type pull-right">Position For Hire</span>
		<h2>Prototype post test</h2>
		<span><strong>Position Needed:</strong> Back-end Dev</span><br />
		<a href="#/post">View This Post</a>
	</div>

	<div class="well">
		<span class="type pull-right">Freelance Opportunity</span>
		<h2>Prototype post test again</h2>
		<span><strong>Client:</strong> Some Client Person</span><br />
		<a href="#/post">View This Post</a>
	</div>

	<div class="well">
		<span class="type pull-right">Position For Hire</span>
		<h2>Prototype post</h2>
		<span><strong>Position Needed:</strong> Front-end Dev</span><br />
		<a href="#/post">View This Post</a>
	</div>
</div>
<h2>My Requests</h2>
<div class="row marketing">
	<div class="well">
		<span class="type pull-right">Position For Hire</span>
		<h2>Prototype post test</h2>
		<span><strong>Position Needed:</strong> Back-end Dev</span><br />
		<a href="#/post">View This Post</a>
	</div>

	<div class="well">
		<span class="type pull-right">Freelance Opportunity</span>
		<h2>Prototype post test again</h2>
		<span><strong>Client:</strong> Some Client Person</span><br />
		<a href="#/post">View This Post</a>
	</div>

	<div class="well">
		<span class="type pull-right">Position For Hire</span>
		<h2>Prototype post</h2>
		<span><strong>Position Needed:</strong> Front-end Dev</span><br />
		<a href="#/post">View This Post</a>
	</div>
</div>