<h1>Edit Post</h1>
<h2>Post Details</h2>
<div class="form-group">
	<label>Title:</label>
	<input type="text" class="form-control" value="Whatever the value was before hand"/>
</div>

<div class="form-group">
	<label>Position Needed:</label>
	<input type="text" class="form-control" value="Whatever the value was before hand"/>
</div>

<div class="form-group">
	<label>Compensation:</label>
	<br />
	<select>
		<option value="paid">Paid</option>
		<option value="unpaid">Unpaid</option>
		<option value="negotiable">Negotiable</option>
	</select>
</div>

<div class="form-group">
	<label>Required Technologies:</label>
	<input type="text" class="form-control" value="Whatever the value was before hand"/>
</div>

<div class="form-group">
	<label>Description:</label>
	<textarea class="form-control">Whatever the value was before</textarea>
</div>

<h2>Your Contact Info</h2>
<div class="form-group">
	<label>Phone Number:</label>
	<input type="text" class="form-control" value="Whatever the value was before hand"/>
</div>

<div class="form-group">
	<label>Email:</label>
	<input type="text" class="form-control" value="Whatever the value was before hand"/>
</div>
<button class="btn-success btn-block btn-sm">
	Save
</button>