<div class="jumbotron">
	<h1>Looking for work?</h1>
	<p class="lead">
		<!-- <img src="images/3c0b8449.yeoman.png" alt="I'm Yeoman"> -->
		<br>
		Or maybe you're looking to outsource some of your current work. Why not keep it in the family and use employ<strong>wdd</strong>? 
		It's a quickly made application built for web students to
		communicate about work opportunities without having to
		sort through post after post about phat beats, short films,
		or people selling crappy used furniture. Enjoy!
	</p>
	<p>
		<a class="btn btn-lg btn-success" ng-href="#">Login with GitHub!</a>
	</p>
</div>
<div class="footer">
	<p>
		Susan Brown. MDD1401. Full Sail University.
	</p>
</div>