<div ng-hide="loginObj.user" class="jumbotron">
	<h1>Looking for work?</h1>
	<p class="lead">
		Or have too much work already?
	</p>
	<p style="font-size: 14px">
		Keep it in the family and use employ<strong>wdd</strong>. Bonus: you wont ever have to read about phat beats or crappy used furniture.
	</p>
	<a class="btn btn-lg btn-success" ng-click="loginObj.$login('github')">Login with GitHub!</a>
</div>

<div ng-show="loginObj.user">
	<a href="#/add-post">
	<button class="btn btn-block btn-lg btn-default">
		Add A Post
	</button></a><br />
	<a href="#/posts">
	<button class="btn btn-block btn-lg btn-default">
		View Posts
	</button></a><br />
	<a href="#/dashboard">
	<button class="btn btn-block btn-lg btn-default">
		My Dash
	</button></a>
</div>