<div ng-hide="loginObj.user" class="jumbotron">
	<h1>Looking for work?</h1>
	<p class="lead">
		Or have too much work already?
	</p>
	<p style="font-size: 14px">
		Keep it in the family and use employ<strong>wdd</strong>. Bonus: you wont ever have to read about phat beats or crappy used furniture.
	</p>
	<a class="btn btn-lg btn-success" ng-href="#">Login with GitHub!</a>
</div>

<div ng-show="loginObj.user">
	<button class="btn btn-lg btn-success">
		<a href="#/add-post">Add A Post</a>
	</button><br />
	<button class="btn btn-lg btn-success">
		<a href="#/posts">View Posts</a>
	</button><br />
	<button class="btn btn-lg btn-success">
		<a href="#/dashboard">My Dash</a>
	</button>
</div>