<h1>My Posts</h1>
<span>brownsusan</span>
<div class="row marketing">
	<div class="well">
		<span>Position For Hire</span>
		<h2>Prototype post test</h2>
		<span><strong>Position Needed:</strong> Back-end Dev</span><br />
		<a href="#/post">View This Post</a>
		<button class="btn-success btn-block btn-sm">
			Edit This Post
		</button>
	</div>

	<div class="well">
		<span>Freelance Opportunity</span>
		<h2>Prototype post test again</h2>
		<span><strong>Client:</strong> Some Client Person</span><br />
		<a href="#/post">View This Post</a>
		<button class="btn-success btn-block btn-sm">
			Edit This Post
		</button>
	</div>

	<div class="well">
		<span>Position For Hire</span>
		<h2>Prototype post</h2>
		<span><strong>Position Needed:</strong> Front-end Dev</span><br />
		<a href="#/post">View This Post</a>
		<button class="btn-success btn-block btn-sm">
			Edit This Post
		</button>
	</div>
</div>