<h1>My Posts</h1>
<span>brownsusan</span>
<div class="row marketing">
	<div class="well">
		<span>Position For Hire</span><br />
		<h2>Prototype post test</h2><br />
		<span><strong>Position Needed:</strong> Back-end Dev</span><br />
		<span><strong>Required Technology:</strong> Some web stuff.</span><br />
		<span><strong>Compensation:</strong> None</span><br />
		<span><strong>Description:</strong></span><br />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<button class="btn-success btn-block btn-sm">Edit this post</button>
	</div>

	<div class="well">
		<span>Freelance Opportunity</span><br />
		<h2>Prototype post test again</h2><br />
		<span><strong>Client:</strong> Some Client Person</span><br />
		<span><strong>Required Technology:</strong> Some web stuff.</span><br />
		<span><strong>Compensation:</strong> None</span><br />
		<span><strong>Description:</strong></span><br />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<button class="btn-success btn-block btn-sm">Edit this post</button>
	</div>
	
	<div class="well">
		<span>Position For Hire</span><br />
		<h2>Prototype post</h2><br />
		<span><strong>Position Needed:</strong> Front-end Dev</span><br />
		<span><strong>Required Technology:</strong> Some web stuff.</span><br />
		<span><strong>Compensation:</strong> None</span><br />
		<span><strong>Description:</strong></span><br />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<button class="btn-success btn-block btn-sm">Edit this post</button>
	</div>
</div>