<h1>{{pageHeading}}</h1><span>Touch for more information.</span>
<a href="#/freelance">Freelance</a>
<a href="#/positions">Open Positions</a>
<div class="row marketing">
	<div ng-repeat="($priority, post) in posts" ng-if="post.postType == 'position'" class="well">
		<a ng-href="#/post/{{$priority}}">
			<h2>{{post.title}}</h2>
			<img src="images/icon/{{post.postType}}.png" />
			<img ng-if="post.postType == 'position'" src="images/icon/{{post.positionNeeded}}.png" />
			<img ng-if="post.postType == 'position'" ng-repeat="tech in post.reqTech[post.positionNeeded] | limitTo:2"  src="images/{{post.positionNeeded}}/{{tech}}.png"/>
			<img ng-if="post.postType == 'freelance'" ng-repeat="tech in post.reqTech.design | limitTo:1"  src="images/design/{{tech}}.png"/>
			<img ng-if="post.postType == 'freelance'" ng-repeat="tech in post.reqTech.frontend | limitTo:1"  src="images/frontend/{{tech}}.png"/>
			<img ng-if="post.postType == 'freelance'" ng-repeat="tech in post.reqTech.backend | limitTo:1"  src="images/backend/{{tech}}.png"/>
			<img ng-if="post.postType == 'freelance'" ng-repeat="tech in post.reqTech.database | limitTo:1"  src="images/db/{{tech}}.png"/>
		</a>
	</div>
</div>