<h1>{{pageHeading}}</h1>

<div class="row marketing">
	<div class="well">
		<span class="type pull-right">Freelance</span>
		<h2>Prototype post test</h2>
		<strong>Posted By: </strong><span>brownsusan</span>
		<br />
		<strong>Position Needed: </strong><span>Back-end Dev</span>
		<br />
		<a href="#/post">Click for more info!</a>
	</div>

	<div class="well">
		<span class="type pull-right">Open Position</span>
		<h2>Prototype post test again</h2>
		<strong>Posted By: </strong><span>brownsusan</span>
		<br />
		<strong>Client: </strong><span>Some Client Person</span>
		<br />
		<a href="">Click for more info!</a>
	</div>

	<div class="well">
		<span class="type pull-right">Freelance</span>
		<h2>Prototype post</h2>
		<strong>Posted By: </strong><span>brownsusan</span>
		<br />
		<strong>Position Needed: </strong><span>Front-end Dev</span>
		<br />
		<a href="">Click for more info!</a>
	</div>
</div>