<h1>Prototype post test</h1>
<div>
	<strong>Posted By: </strong>
	<span>brownsusan</span>
</div>
<div class="pull-left">
	<img src="/images/icon/position.png" />
	<br/>
	<span>Position Opening</span>
</div>
<div>
	<img src="/images/icon/back-end.png" />
	<br />
	<span>Back-End Dev</span>
</div>
<div>
	<strong>Required Technology: </strong><br />
	<div>
		<img src="/images/back-end/java_icon.png" /><br />
		<span>Java</span>
	</div>
</div>
<div>
	<strong>Compensation: </strong>
	<span>None</span>
</div>
<div>
	<strong>Description:</strong>
	<br />
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</div>
<!-- Hide this button if the user does not own the post -->
<button class="btn btn-success btn-block">
	Edit This Post
</button>
<hr>
<div class="well">
	<strong>Request This Job</strong>
	<br />
	<div class="form-group">
		<label>Name:</label>
		<input type="text" class="form-control" placeholder="Github info"/>
	</div>
	<div class="form-group">
		<label>Phone Number:</label>
		<input type="text" class="form-control" placeholder="248-880-3127"/>
	</div>
	<div class="form-group">
		<label>Email:</label>
		<input type="text" class="form-control" placeholder="sbrwn.sb@gmail.com"/>
	</div>
	<br />
	<button class="btn btn-success btn-block">
		Send Request
	</button>
</div>

<strong>Requests</strong>
<!-- Will eventually be in an ng-repeat -->
<div>
	<img class="glyphicon img-circle" src="{{loginObj.user.thirdPartyUserData.avatar_url}}" />
	<span>First Last</span>
	<span>248-880-3127</span>
	<span>sbrwn.sb@gmail.com</span>
</div>
