<h1>{{pageHeading}}</h1><span>Touch for more information.</span>

<div class="row marketing">
	<div class="well">
		<h2 >Prototype post test</h2>
		<img src="images/icon/position.png" />
	</div>

	<div class="well">
		<h2>Prototype post test again</h2>
		<img src="images/icon/freelance.png" />
	</div>

	<div class="well">
		<h2>Prototype post</h2>
		<img src="images/icon/position.png" />
		<img src="/images/icon/back-end.png" />
		<img src="/images/back-end/node_icon.png" />
		<!-- ng repeat with technology -->
	</div>
</div>