<h1>{{pageHeading}}</h1><span>Touch for more information.</span><br />
<!-- Make these buttons that filter things -->
<a href="#/freelance">Freelance</a><br />
<a href="#/positions">Open Positions</a><br />
<div class="row marketing">
	<div ng-repeat="($priority, post) in posts">
		<a ng-href="#/post/{{$priority}}">
			
			<div class="well">
				
				<p class="posts-title">{{post.title}}</p>
				
				<img ng-src="images/icon/{{post.postType}}.png" />
				
				<!-- show the icons for the post -->
				<div ng-if="post.postType == 'position'" >
					<img ng-src="images/icon/{{post.positionNeeded}}.png" />
					<img ng-repeat="tech in post.reqTech[post.positionNeeded]" ng-if="tech != false" ng-src="images/{{post.positionNeeded}}/{{tech}}.png"/>
				</div>
				
				<!-- show the icons for freelance -->
				<!-- these need to be seperated here  -->
				<!-- beecause of the structure of the firebase -->
				<div ng-if="post.postType == 'freelance'"  >
					<img ng-if="tech != false"  ng-repeat="tech in post.reqTech.design"  ng-src="images/design/{{tech}}.png"/>
					<img ng-if="tech != false" ng-repeat="tech in post.reqTech.frontend"  ng-src="images/frontend/{{tech}}.png"/>
					<img ng-if="tech != false" ng-repeat="tech in post.reqTech.backend"  ng-src="images/backend/{{tech}}.png"/>
					<img ng-if="tech != false" ng-repeat="tech in post.reqTech.database"  ng-src="images/database/{{tech}}.png"/>
				</div>
			
			</div>
			
		</a>
	</div>
</div>