<h1>{{post.title}}</h1>
<div>
	<strong>Posted By: </strong>
	<span>{{post.ownerUsername}}</span>
</div>
<div>
	<strong>Description:</strong>
	<br />
	<p>
		{{post.description}}
	</p>
</div>
<div>
	<strong>Compensation: </strong>
	<div ng-show="post.compensation == 'paid'">
		<img src="/images/icon/paid.png" />
		<span>Paid</span>
	</div>
	<div ng-hide="post.compensation == 'paid'">
		<img src="/images/icon/unpaid.png" />
		<span>Unpaid</span>
	</div>
</div>

<div>
	<strong>Category: </strong>
	<div ng-show="post.postType == 'position'">
		<img src="images/icon/position.png" />
		<span>Open Positon</span>
	</div>
	<div ng-hide="post.postType == 'position'">
		<img src="images/icon/freelance.png" />
		<span>Freelance</span>
	</div>
</div>

<div ng-if="post.postType == 'position'">
	<strong>Position Needed: </strong>
	<br />
	<img ng-src="images/icon/{{post.positionNeeded}}.png" />
</div>

<div>
	<strong>Required Technology: </strong>
	<br />
	<div>
		<img ng-repeat="tech in post.reqTech.design" ng-if="tech" ng-src="images/design/{{tech}}.png"/>
		<img ng-repeat="tech in post.reqTech.frontend" ng-if="tech" ng-src="images/frontend/{{tech}}.png"/>
		<img ng-repeat="tech in post.reqTech.backend" ng-if="tech" ng-src="images/backend/{{tech}}.png"/>
		<img ng-repeat="tech in post.reqTech.database" ng-if="tech"  ng-src="images/database/{{tech}}.png"/>
	</div>
</div>

<div ng-show="post.ownerId == loginObj.user.id">
	<!-- This needs a confirm action affordance -->
	<a ng-href="#/edit-post/{{postPriority}}">
	<button class="btn btn-default btn-block btn-lg">
		Edit This Post
	</button> </a>
	
	<button class="btn btn-danger btn-block btn-lg" ng-click="deletePost()">
		Delete This Post
	</button>
</div>

<hr>
<div ng-hide="post.ownerId == loginObj.user.id" class="well">
	<strong>Request This Job</strong>
	<br />
	<div class="form-group">
		<label>Name:</label>
		<input required type="text" class="form-control" ng-model="ownerName" placeholder="Susan Brown"/>
	</div>
	<div class="form-group">
		<label>Phone Number:</label>
		<input required type="tel" class="form-control" ng-model="phoneNum" placeholder="248-880-3127"/>
	</div>
	<div class="form-group">
		<label>Email:</label>
		<input required type="email" class="form-control" ng-model="email" placeholder="sbrwn.sb@gmail.com"/>
	</div>
	<br />
	<button class="btn btn-success btn-block btn-lg" ng-click="addRequest()">
		Send Request
	</button>
</div>

<strong>Requests</strong>
<div ng-repeat="request in requests" ng-if="postPriority == request.postPriority">
	<div>
		<img ng-src="{{request.gravatar}}" class="glyphicon img-circle" />
		<span>{{request.ownerName}}</span>
		<span>{{request.phoneNum}}</span>
		<span>{{request.email}}</span>
	</div>
</div>
