<h1>{{post.title}}</h1>
<div>
	<strong>Posted By: </strong>
	<span>{{post.ownerUsername}}</span>
</div>
<div ng-show="post.postType == 'position'" class="pull-left">
	<!-- <img src="/images/icon/position.png" /> -->
	<br/>
	<img ng-src="images/icon/position.png" />
</div>
<div ng-hide="post.postType == 'position'" class="pull-left">
	<!-- <img src="/images/icon/position.png" /> -->
	<br/>
	<img ng-src="images/icon/freelance.png" />
</div>
<div ng-show="post.postType == 'position'">
	<!-- <img src="/images/icon/back-end.png" /> -->
	<br />
	<img ng-src="images/icon/{{post.positionNeeded}}.png" />
</div>
<div>
	<strong>Required Technology: </strong><br />
	<div>
		<!-- <img src="/images/back-end/java_icon.png" /><br /> -->
		<div ng-repeat="tech in post.reqTech.design" ng-if="tech">{{tech}}</div>
		<div ng-repeat="tech in post.reqTech.frontend" ng-if="tech">{{tech}}</div>
		<div ng-repeat="tech in post.reqTech.backend" ng-if="tech">{{tech}}</div>
		<div ng-repeat="tech in post.reqTech.database" ng-if="tech">{{tech}}</div>
	</div>
</div>
<div ng-show="post.compensation == 'paid'">
	<strong>Compensation: </strong>
	<img ng-src="/images/icon/paid.png" />
	<span>Paid</span>
</div>
<div ng-hide="post.compensation == 'paid'">
	<strong>Compensation: </strong>
	<img ng-src="/images/icon/unpaid.png" />
	<span>Unpaid</span>
</div>
<div>
	<strong>Description:</strong>
	<br />
	<p>
		{{post.description}}
	</p>
</div>
<!-- Hide this button if the user does not own the post -->
<button ng-show="post.ownerId == loginObj.user.id" class="btn btn-default btn-block btn-sm">
	Edit This Post
</button>
<hr>
<div ng-hide="post.ownerId == loginObj.user.id" class="well">
	<strong>Request This Job</strong>
	<br />
	<div class="form-group">
		<label>Name:</label>
		<input type="text" class="form-control" ng-model="ownerName" placeholder="Susan Brown"/>
	</div>
	<div class="form-group">
		<label>Phone Number:</label>
		<input type="text" class="form-control" ng-model="phoneNum" placeholder="248-880-3127"/>
	</div>
	<div class="form-group">
		<label>Email:</label>
		<input type="text" class="form-control" ng-model="email" placeholder="sbrwn.sb@gmail.com"/>
	</div>
	<br />
	<button class="btn btn-success btn-block" ng-click="addRequest()">
		Send Request
	</button>
</div>

<strong>Requests</strong>
<div ng-repeat="request in requests" ng-if="postPriority == request.postPriority">
	<img class="glyphicon img-circle" ng-src="{{request.gravatar}}" />
	<span>{{request.ownerName}}</span>
	<span>{{request.phoneNum}}</span>
	<span>{{request.email}}</span>
</div>
